langgraph>=0.2.6
langchain>=0.2.14
langchain-openai>=0.1.1
langchain-community>=0.2.10
python-dotenv>=1.0.1
msgspec>=0.18.6
transformers>=4.38.1
torch>=2.2.0
accelerate>=0.27.0
bitsandbytes>=0.41.0
peft>=0.9.0